.main-header {
  padding: 19px 0;
  background-color: #37393f;
  color: white;
}

.main-header__top-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1216px;
}

.main-header__top-start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 474px;
}

.main-header__add {
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin-left: 5px;
}

.main-header__email {
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin-left: 5px;
}

.main-header__time {
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  margin-left: 5px;
}

.main-header__inner-box {
  display: flex;
  align-items: center;
}

.main-header__top-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 377px;
}

.main-header__end-inner {
  display: flex;
  align-items: center;
}

.main-header__end-inner-links {
  display: flex;
  align-items: center;
}

.main-header__social {
  margin-right: 16px;
}
